// colors
$primary: #FE5F1E;
$primary-hover: #b23301;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;
$yellow_dark: #f1c40f;
$yellow_light: #f6e58d;
$yellow_hover: #ffcccc;



// Transition
$smooth: all 0.3s ease-in-out;